@model IEnumerable<Lab06MVCWeb.Models.Dependent>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-2xl mt-9">Dependents</h2>


<p class="w-fit bg-green-500/80 rounded-full mt-9 px-7 py-3 text-lg text-white hover:bg-green-600 transition-all">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table mt-9 bg-gray-400/40 p-9 rounded-xl">
    <tr class="px-4">
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="px-4">
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FName)
            </td>
            <td class="flex gap-2">
                <div class="w-fit bg-green-500/80 rounded-full mt-9 px-7 py-3 text-lg text-white hover:bg-green-600 transition-all">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ESSN })
                </div>
                <div class="w-fit bg-sky-500/80 rounded-full mt-9 px-7 py-3 text-lg text-white hover:bg-sky-600 transition-all">
                    @Html.ActionLink("Details", "Details", new { id = item.ESSN })
                </div>
                <div class="w-fit bg-red-500/80 rounded-full mt-9 px-7 py-3 text-lg text-white hover:bg-red-600 transition-all">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ESSN })
                </div>
            </td>
        </tr>
    }

</table>
